// modal
// =====================================================================================================================
$_modal-header-medium-transparency: .24;

$modal-header-medium-transparent: var(--magic-modal-header-medium-transparent, rgba($_medium, $_modal-header-medium-transparency));

// modal
// ---------------------------------------------------------------------------------------------------------------------
.modal {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        padding: $space--small;
        border-radius: $border-radius;
        max-width: 100%;
        max-height: 100%;
        background: $light;
        box-shadow: $shadow-5;
        overflow: hidden;

        // variant small
        // -------------------------------------------------------------------------------------------------------------
        &--small {
            width: $modal-size-small;
        }

        // variant large
        // -------------------------------------------------------------------------------------------------------------
        &--large {
            width: $modal-size-large;
        }
    }
}

// header
// ---------------------------------------------------------------------------------------------------------------------
.header {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $top-navigation-height;
    background: $light;
    box-shadow: 0 1px 2px 0 $modal-header-medium-transparent;
    z-index: 1;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        position: relative;
        padding: 0;
        height: auto;
        min-height: 0;
        box-shadow: none;
    }
}

// action
// ---------------------------------------------------------------------------------------------------------------------
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    padding: 0 calc(#{$space--small} + #{$space--x-small});
    width: 100%;
    height: $top-navigation-height;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        padding: 0;
        height: auto;
    }
}

// action [edge hack]
// ---------------------------------------------------------------------------------------------------------------------
_:-ms-lang(x), .action {
    flex-direction: row;
    max-width: none;
}

// button
// ---------------------------------------------------------------------------------------------------------------------
.button {

    // variant left
    // -----------------------------------------------------------------------------------------------------------------
    &--left {
        margin-right: auto;
    }

    // variant right
    // -----------------------------------------------------------------------------------------------------------------
    &--right {
        margin-left: auto;
    }
}

// button [edge hack]
// ---------------------------------------------------------------------------------------------------------------------
_:-ms-lang(x), .button {
    margin-bottom: 0;
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    width: $icon-size;
    height: $icon-size;
    color: $primary;
    cursor: pointer;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        color: $text-dark;
    }
}

// body
// ---------------------------------------------------------------------------------------------------------------------
.body {
    margin: calc(#{$top-navigation-height} + #{$space}) auto 0;
    padding: 0 $space $space;
    box-sizing: border-box;
    width: 100%;
    max-height: none;
    overflow: auto;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include tablet() {
        max-width: $content-size-account;
    }

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        margin: $space--small auto $space--large;
        padding: $space $space--large 0;
        max-width: 100%;
        max-height: 100%;
    }
}
