// peek password
// =====================================================================================================================
$_peek-password-background: $_light;

$peek-password-background: var(--magic-peek-password-background, $_peek-password-background);

// peek password
// ---------------------------------------------------------------------------------------------------------------------
.peek-password {
    position: relative;
}

// toggle
// ---------------------------------------------------------------------------------------------------------------------
.toggle {
    @include bg($peek-password-background);
    position: absolute;
    top: calc(#{$space--small} + #{$space--xx-small});
    right: $space--small;
    transition: color $duration ease;
    will-change: color;
    z-index: 1;

    // state hover, focus, active
    // -----------------------------------------------------------------------------------------------------------------
    &:hover,
    &:focus,
    &:active {
        color: $primary;
    }
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    width: $icon-size;
    height: $icon-size;
}
