// box
// =====================================================================================================================

// box
// ---------------------------------------------------------------------------------------------------------------------
.box {
    @include bg($light);
    display: flex;
    flex-direction: column;
    padding: calc(#{$space} - #{$space--x-small}) $space;
    border-radius: $border-radius;
    width: 100%;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include tablet() {
        padding: calc(#{$space--small} + #{$space--x-small}) $space;
    }

    // variant elevation 1
    // -----------------------------------------------------------------------------------------------------------------
    &--elevation-1 {
        box-shadow: $shadow-1;
    }

    // variant elevation 2
    // -----------------------------------------------------------------------------------------------------------------
    &--elevation-2 {
        box-shadow: $shadow-2;
    }

    // variant elevation 3
    // -----------------------------------------------------------------------------------------------------------------
    &--elevation-3 {
        box-shadow: $shadow-3;
    }

    // variant elevation 4
    // -----------------------------------------------------------------------------------------------------------------
    &--elevation-4 {
        box-shadow: $shadow-4;
    }

    // variant elevation 5
    // -----------------------------------------------------------------------------------------------------------------
    &--elevation-5 {
        box-shadow: $shadow-5;
    }

    // variant no bottom padding
    // -----------------------------------------------------------------------------------------------------------------
    &--no-bottom-padding {
        padding-bottom: 0;
    }

    // variant add bottom margin
    // -----------------------------------------------------------------------------------------------------------------
    &--add-bottom-margin {
        margin: 0 0 $space;
    }
}
