// tag
// =====================================================================================================================
$_tag-height: 24px;

$tag-height: var(--magic-tag-height, $_tag-height);

// tags
// ---------------------------------------------------------------------------------------------------------------------
.tags {
    display: flex;
    flex-wrap: wrap;
}

// tag
// ---------------------------------------------------------------------------------------------------------------------
.tag {
    @include set-font-size(11px);
    display: flex;
    align-items: center;
    margin: $space--x-small;
    padding: $space--x-small calc(#{$space} + #{$space--x-small});
    border-radius: $tag-height;
    min-height: $tag-height;
    background: $gradient-1;
    color: $background-contrast;
    line-height: 1.1;

    // variant new
    // -----------------------------------------------------------------------------------------------------------------
    &--new {
        background: $gradient-2;
    }

    // variant hot
    // -----------------------------------------------------------------------------------------------------------------
    &--hot {
        background: $gradient-3;
    }
}
