// step progress bar
// =====================================================================================================================
$_step-progress-bar-lighten: 30%;

$step-progress-bar-primary-light: var(--magic-step-progress-bar-primary-light, lighten($_primary, $_step-progress-bar-lighten));

// step progress bar
// ---------------------------------------------------------------------------------------------------------------------
.step-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 $space--large;
}

// step
// ---------------------------------------------------------------------------------------------------------------------
.step {
    flex: 1 0 auto;
    margin: 0 calc(#{$space--x-small} + #{$space--xx-small});
    border-radius: $border-radius;
    height: $space--x-small;
    background-color: $step-progress-bar-primary-light;

    // first child
    // -----------------------------------------------------------------------------------------------------------------
    &:first-child {
        margin-left: 0;
    }

    // last child
    // -----------------------------------------------------------------------------------------------------------------
    &:last-child {
        margin-right: 0;
    }

    // variant current
    // -----------------------------------------------------------------------------------------------------------------
    &--current {
        background-color: $primary;
    }

    // variant done
    // -----------------------------------------------------------------------------------------------------------------
    &--done {
        background-color: $success;
    }
}
