// radio group
// =====================================================================================================================

// radio group
// ---------------------------------------------------------------------------------------------------------------------
.radio-group {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    // variant inline
    // -----------------------------------------------------------------------------------------------------------------
    &--inline {

        // wrapper
        // -------------------------------------------------------------------------------------------------------------
        .wrapper {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            text-align: center;
        }

        // wrapper [edge hack]
        // -------------------------------------------------------------------------------------------------------------
        _:-ms-lang(x), .wrapper {
            justify-content: center;
        }
    }

    // variant column
    // -----------------------------------------------------------------------------------------------------------------
    &--column {

        // wrapper
        // -------------------------------------------------------------------------------------------------------------
        .wrapper {
            align-items: flex-start;
            flex-direction: column;
            width: auto;
        }
    }

    // variant space
    // -----------------------------------------------------------------------------------------------------------------
    &--space {

        // wrapper
        // -------------------------------------------------------------------------------------------------------------
        .wrapper {
            justify-content: space-between;
        }
    }

    // variant left
    // -----------------------------------------------------------------------------------------------------------------
    &--left {

        // wrapper
        // -------------------------------------------------------------------------------------------------------------
        .wrapper {
            justify-content: flex-start;
        }
    }

    // variant right
    // -----------------------------------------------------------------------------------------------------------------
    &--right {

        // wrapper
        // -------------------------------------------------------------------------------------------------------------
        .wrapper {
            justify-content: flex-end;
        }
    }
}

// wrapper
// ---------------------------------------------------------------------------------------------------------------------
.wrapper {
    display: flex;
    flex-direction: column;
    width: auto;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include phablet() {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

// wrapper [edge hack]
// ---------------------------------------------------------------------------------------------------------------------
_:-ms-lang(x), .wrapper {

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include phablet() {
        justify-content: center;
    }
}
