// dropdown
// =====================================================================================================================
$_dropdown-lighten: 25%;
$_dropdown-darken: 6.25%;
$_dropdown-transparency: .125;

$_dropdown-padding-vertical: 14px;
$_dropdown-padding-horizontal: 16px;
$_dropdown-padding-icon: 40px;
$_dropdown-height: 44px;
$_dropdown-icon-right: 14px;
$_dropdown-line-height: $space;
$_dropdown-ellipsis-max-width: 150px;

$dropdown-border: var(--magic-field-border, var(--magic-dropdown-border, lighten($_medium, $_dropdown-lighten)));
$dropdown-disabled-darker: var(--magic-dropdown-disabled-darker, darken($_disabled, ($_dropdown-darken * 3)));
$dropdown-disabled-transparent: var(--magic-dropdown-disabled-transparent, rgba($_disabled, ($_dropdown-transparency * 3)));

$dropdown-padding-vertical: var(--magic-dropdown-padding-vertical, #{$_dropdown-padding-vertical});
$dropdown-padding-horizontal: var(--magic-dropdown-padding-horizontal, #{$_dropdown-padding-horizontal});
$dropdown-padding-icon: var(--magic-dropdown-padding-icon, #{$_dropdown-padding-icon});
$dropdown-height: var(--magic-dropdown-height, #{$_dropdown-height});
$dropdown-border-radius: var(--magic-dropdown-border-radius, $_border-radius);
$dropdown-icon-right: var(--magic-dropdown-icon-right, #{$_dropdown-icon-right});
$dropdown-line-height: var(--magic-dropdown-line-height, #{$_dropdown-line-height});
$dropdown-ellipsis-max-width: var(--magic-dropdown-ellipsis-max-width, #{$_dropdown-ellipsis-max-width});

// dropdown
// ---------------------------------------------------------------------------------------------------------------------
.dropdown {
    display: block;
    position: relative;
    width: 100%;

    // ellipsis
    // -----------------------------------------------------------------------------------------------------------------
    &--ellipsis {
        max-width: $dropdown-ellipsis-max-width;

        // text
        // -------------------------------------------------------------------------------------------------------------
        &:before {
            @include set-font-size(14px);
            @include semibold-text;
            content: attr(data-option);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: $space;
            padding: $dropdown-padding-vertical $dropdown-padding-horizontal;
            padding-right: calc(#{$icon-size} + (#{$dropdown-icon-right} / 2));
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $text-dark;
            line-height: $dropdown-line-height;
            overflow: hidden;
            pointer-events: none;
        }

        // select
        // -------------------------------------------------------------------------------------------------------------
        .select {
            @include transparent-dark;
        }
    }
}

// select
// ---------------------------------------------------------------------------------------------------------------------
.select {
    @include bg($light);
    @include set-font-size(14px);
    display: block;
    padding: $dropdown-padding-vertical $dropdown-padding-horizontal;
    padding-right: $dropdown-padding-icon;
    border: none;
    border-radius: $dropdown-border-radius;
    width: 100%;
    height: $dropdown-height;
    box-shadow: inset 0 0 0 1px $dropdown-border;
    color: $text-dark;
    line-height: $dropdown-line-height;
    transition: box-shadow $duration ease;
    will-change: box-shadow;
    -webkit-appearance: none;
    -moz-appearance: none;

    // select reset firefox
    // -----------------------------------------------------------------------------------------------------------------
    &::-moz-focus-inner {
        border: none;
        padding: 0;
    }

    // state focus
    // -----------------------------------------------------------------------------------------------------------------
    &:focus {
        box-shadow: inset 0 0 0 2px $primary;
        outline: none;
    }

    // variant light
    // -----------------------------------------------------------------------------------------------------------------
    &--light {
        @include bg();
        box-shadow: inset 0 0 0 1px $light;
        color: $light;
    }

    // variant link
    // -----------------------------------------------------------------------------------------------------------------
    &--link {
        @include bg();
        @include semibold-text;
        box-shadow: none;

        // state has value
        // -------------------------------------------------------------------------------------------------------------
        &.has-value {
            box-shadow: inset 0 0 0 2px $primary;
        }

        // state focus
        // -------------------------------------------------------------------------------------------------------------
        &:focus {
            box-shadow: inset 0 0 0 2px $dropdown-border;
        }
    }

    // state disabled
    // -----------------------------------------------------------------------------------------------------------------
    &[disabled],
    &.is-disabled {
        background-color: $dropdown-disabled-transparent;
        box-shadow: inset 0 0 0 1px $dropdown-disabled-darker;
        color: $dropdown-disabled-darker;
        pointer-events: none;
    }

    // style for ie & edge only
    // -----------------------------------------------------------------------------------------------------------------
    &::-ms-expand {
        display: none;
    }

    // option
    // -----------------------------------------------------------------------------------------------------------------
    .option {
        border: none;
        padding: 0;
    }
}

// styles for firefox only
// ---------------------------------------------------------------------------------------------------------------------
@-moz-document url-prefix() {

    // dropdown
    // -----------------------------------------------------------------------------------------------------------------
    .dropdown {

        // ellipsis
        // -------------------------------------------------------------------------------------------------------------
        &--ellipsis {

            // select
            // ---------------------------------------------------------------------------------------------------------
            .select {
                color: rgba(white, 0) !important; // remove dotted outline firefox
                text-shadow: 0 0 0 rgba(black, 0); // text color firefox

                // state focus
                // -----------------------------------------------------------------------------------------------------
                &:-moz-focusring {
                    text-shadow: 0 0 0 rgba(black, 0); // text color firefox
                }
            }
        }
    }

    // select
    // -----------------------------------------------------------------------------------------------------------------
    .select {
        color: rgba(black, 0) !important; // remove dotted outline firefox
        text-indent: -2px; // text position firefox
        text-shadow: 0 0 0 $text-dark; // text color firefox

        // variant light
        // -------------------------------------------------------------------------------------------------------------
        &--light {
            color: rgba(white, 0) !important; // remove dotted outline firefox
            text-shadow: 0 0 0 $light; // text color firefox

            // state focus
            // ---------------------------------------------------------------------------------------------------------
            &:-moz-focusring {
                text-shadow: 0 0 0 $light; // text color firefox
            }
        }

        // state focus
        // -------------------------------------------------------------------------------------------------------------
        &:-moz-focusring {
            text-shadow: 0 0 0 $text-dark; // text color firefox
        }
    }
}

// select
// ---------------------------------------------------------------------------------------------------------------------
.select {

    // state focus
    // -----------------------------------------------------------------------------------------------------------------
    &:focus {

        // option
        // -------------------------------------------------------------------------------------------------------------
        .option {
            @include bg($light); // native control background
            @include regular-text;
            color: $text-dark; // native control text color
        }
    }
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    position: absolute;
    top: 50%;
    right: $dropdown-icon-right;
    margin: calc((#{$icon-size} / 2) * -1) calc(#{$space--small} * -1) 0 0;
    width: $icon-size;
    height: $icon-size;
    pointer-events: none;
}
