// link
// =====================================================================================================================
$_link-darken: 6.25%;

$link-disabled-darker: var(--magic-link-disabled-darker, darken($_disabled, ($_link-darken * 3)));

// link
// ---------------------------------------------------------------------------------------------------------------------
.link {
    @include semibold-text;
    text-decoration: none;
    color: $text-primary;
    transition: color $duration ease;
    will-change: color;

    // state link, visited
    // -----------------------------------------------------------------------------------------------------------------
    &:link,
    &:visited {
        color: $text-primary;
    }

    // state hover, focus, active
    // -----------------------------------------------------------------------------------------------------------------
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }

    // state disabled, is disabled
    // -----------------------------------------------------------------------------------------------------------------
    &:disabled,
    &.is-disabled {
        text-decoration: line-through;
        color: $link-disabled-darker;
        user-select: none;
        pointer-events: none;

        // state hover, focus, active
        // -------------------------------------------------------------------------------------------------------------
        &:hover,
        &:focus,
        &:active {
            text-decoration: line-through;
            color: $link-disabled-darker;
        }
    }
}
