// input
// =====================================================================================================================
$_input-lighten: 25%;
$_input-darken: 6.25%;
$_input-transparency: .125;

$_input-height: 44px;
$_input-padding-vertical: 14px;
$_input-padding-horizontal: 16px;
$_input-padding-icon: 40px;
$_input-line-height: $space;

$input-border: var(--magic-field-border, var(--magic-input-border, lighten($_medium, $_input-lighten)));
$input-disabled-darker: var(--magic-input-disabled-darker, darken($_disabled, ($_input-darken * 3)));
$input-disabled-transparent: var(--magic-input-disabled-transparent, rgba($_disabled, ($_input-transparency * 3)));

$input-height: var(--magic-input-height, #{$_input-height});
$input-padding-vertical: var(--magic-input-padding-vertical, #{$_input-padding-vertical});
$input-padding-horizontal: var(--magic-input-padding-horizontal, #{$_input-padding-horizontal});
$input-padding-icon: var(--magic-input-padding-icon, #{$_input-padding-icon});
$input-line-height: var(--magic-input-line-height, #{$_input-line-height});

:host {
    outline: none;
}

// input
// ---------------------------------------------------------------------------------------------------------------------
.input {
    @include bg($light);
    @include set-font-size(14px);
    display: block;
    padding: $input-padding-vertical $input-padding-horizontal;
    border: none;
    border-radius: $border-radius;
    width: 100%;
    height: $input-height;
    box-shadow: inset 0 0 0 1px $input-border;
    color: $text-dark;
    line-height: $input-line-height;
    transition: box-shadow $duration ease;
    will-change: box-shadow;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    // state has icon
    // -----------------------------------------------------------------------------------------------------------------
    &.has-icon {
        padding-right: $input-padding-icon;
    }

    // state focus
    // -----------------------------------------------------------------------------------------------------------------
    &:focus {
        box-shadow: inset 0 0 0 2px $primary;
        outline: none;
    }

    // state disabled
    // -----------------------------------------------------------------------------------------------------------------
    &[disabled],
    &:disabled,
    &.is-disabled {
        background-color: $input-disabled-transparent;
        box-shadow: inset 0 0 0 1px $input-disabled-darker;
        color: $input-disabled-darker;
        -webkit-text-fill-color: $input-disabled-darker; // color fix safari
        -webkit-opacity: 1; // color fix safari ios
        pointer-events: none;
    }

    // placeholder
    // -----------------------------------------------------------------------------------------------------------------
    @include placeholder() {
        @include set-font-size(14px);
        color: $text-lighter;
    }

    // autofill
    // -----------------------------------------------------------------------------------------------------------------
    @include autofill() {
        -webkit-text-fill-color: $text-dark !important;
        -webkit-animation-name: autofill-animation;
        -webkit-animation-fill-mode: both;
        line-height: normal;
        transition: background-color 1s 0s linear;
    }

    // autofill animation
    // -----------------------------------------------------------------------------------------------------------------
    @keyframes autofill-animation {
        to {
            background-color: $light;
            color: $text-dark;
        }
    }

    // variant centered
    // -----------------------------------------------------------------------------------------------------------------
    &--centered {
        text-align: center;
    }
}
