// default
// =====================================================================================================================

// html, body
// ---------------------------------------------------------------------------------------------------------------------
html,
body {
    height: 100%;
}

// body
// ---------------------------------------------------------------------------------------------------------------------
body {
    font: normal normal $font-size $font-family;
    font-weight: $font-weight;
    color: $text-medium;
    text-size-adjust: none; // prevent iphone text enlargement
    overflow-x: hidden;

    // state no scroll
    // -----------------------------------------------------------------------------------------------------------------
    &.no-scroll {
        overflow: hidden;
    }
}

// all elements box sizing
// ---------------------------------------------------------------------------------------------------------------------
* {
    box-sizing: border-box;

    // pseudo elements
    // -----------------------------------------------------------------------------------------------------------------
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

// strong & bold
// ---------------------------------------------------------------------------------------------------------------------
strong,
b {
    font-weight: 500;
}

// emphasis & italic
// ---------------------------------------------------------------------------------------------------------------------
em,
i {
    font-style: italic;
}

// link
// ---------------------------------------------------------------------------------------------------------------------
a {
    outline: none;
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

// button
// ---------------------------------------------------------------------------------------------------------------------
button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    // state hover, focus, active
    // -----------------------------------------------------------------------------------------------------------------
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

// form fields
// ---------------------------------------------------------------------------------------------------------------------
input,
textarea,
button,
select {
    font-family: $font-family;
    font-size: 100%;
    color: inherit;
    line-height: 1;
}

// input date top space webkit
// ---------------------------------------------------------------------------------------------------------------------
input[type="date"]::-webkit-date-and-time-value {
    margin-top: 6px;
}

// input date right space webkit
// ---------------------------------------------------------------------------------------------------------------------
input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 30px;
}

// input date remove spin/clear icon webkit
// ---------------------------------------------------------------------------------------------------------------------
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
    margin: 0;
    opacity: 0;
}

// input date picker icon webkit
// ---------------------------------------------------------------------------------------------------------------------
input[type="date"]::-webkit-calendar-picker-indicator {
    $_size: 12px;

    width: $_size;
    height: $_size;
    color: rgba($light, 1);

    // state hover
    // -----------------------------------------------------------------------------------------------------------------
    &:hover {
        background-color: rgba($light, 0);
    }

    // state active
    // -----------------------------------------------------------------------------------------------------------------
    &:active {
        color: rgba($light, 1);
    }
}

// input clear ie remove icon
// ---------------------------------------------------------------------------------------------------------------------
input::-ms-clear {
    display: none;
}

// show password remove icon ie
// ---------------------------------------------------------------------------------------------------------------------
input::-ms-reveal {
    display: none;
}

// input number remove spinner webkit
// ---------------------------------------------------------------------------------------------------------------------
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// input number remove spinner firefox
// ---------------------------------------------------------------------------------------------------------------------
input[type="number"] {
    -moz-appearance: textfield;
}

// input password autofill remove icon webkit
// ---------------------------------------------------------------------------------------------------------------------
::-webkit-credentials-auto-fill-button {
    background: transparent;
}

// input contact autofill remove icon webkit
// ---------------------------------------------------------------------------------------------------------------------
::-webkit-contacts-auto-fill-button {
    background: transparent;
}

// input password capslock remove icon safari
// ---------------------------------------------------------------------------------------------------------------------
::-webkit-caps-lock-indicator {
    content: none;
}

// video
// ---------------------------------------------------------------------------------------------------------------------
video {
    background-color: rgba($dark, 0);
}

// div, label
// ---------------------------------------------------------------------------------------------------------------------
div,
label {

    // state focus
    // -----------------------------------------------------------------------------------------------------------------
    &:focus {
        outline: none;
    }
}

// label
// ---------------------------------------------------------------------------------------------------------------------
label {
    cursor: inherit;
}

// styles for firefox only
// ---------------------------------------------------------------------------------------------------------------------
@-moz-document url-prefix() {

    // image
    // -----------------------------------------------------------------------------------------------------------------
    img {
        color: rgba($light, 0); // alt remove firefox
    }
}

// ios tap highlight remove
// ---------------------------------------------------------------------------------------------------------------------
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba($dark, 0);
}


// fade in animation
// -----------------------------------------------------------------------------------------------------------------
@keyframes fade-in-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}