// ratio
// ---------------------------------------------------------------------------------------------------------------------
@mixin ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// touch scroll
// ---------------------------------------------------------------------------------------------------------------------
@mixin touch-scroll($value, $axis: "") {
    @if ($value == "on") {
        overflow: auto;
        backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;
        @if ($axis == "x") {
            overflow-x: auto;
            overflow-y: hidden;
        } @else if ($axis == "y") {
            overflow-y: auto;
            overflow-x: hidden;
        }
    } @else if ($value == "off") {
        overflow: visible;
        -webkit-overflow-scrolling: auto;
    }
}

// hide scrollbars
// ---------------------------------------------------------------------------------------------------------------------
@mixin hide-scrollbars() {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track-piece:start,
    &::-webkit-scrollbar-track-piece:end {
        display: none;
        width: 0;
        height: 0;
        background: transparent none 0 0;
    }
}

// set font size
// ---------------------------------------------------------------------------------------------------------------------
@mixin set-font-size($value) {
    @if ($value == "inherit") {
        font-size: inherit;
    } @else {
        font-size: remify($value);
    }
}

@mixin regular-text() {
    font-weight: 400;
}

@mixin bold-text() {
    font-weight: 600;
}

// font smoothing
// ---------------------------------------------------------------------------------------------------------------------
@mixin font-smoothing($value) {
    @if ($value == "on") {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    } @else if ($value == "off") {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

// placeholder
// ---------------------------------------------------------------------------------------------------------------------
@mixin placeholder() {
    &::placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
        line-height: normal;
    }

    &::-moz-placeholder {
        @content;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        @content;
    }
}

// mobile
// ---------------------------------------------------------------------------------------------------------------------
@mixin mobile() {
    @media (min-width: 320px) {
        @content;
    }
}

// phablet
// ---------------------------------------------------------------------------------------------------------------------
@mixin phablet() {
    @media (min-width: 501px) {
        @content;
    }
}

// tablet
// ---------------------------------------------------------------------------------------------------------------------
@mixin tablet() {
    @media (min-width: 768px) {
        @content;
    }
}

// desktop
// ---------------------------------------------------------------------------------------------------------------------
@mixin desktop() {
    @media (min-width: 1024px) {
        @content;
    }
}

// large
// ---------------------------------------------------------------------------------------------------------------------
@mixin large() {
    @media (min-width: 1401px) {
        @content;
    }
}