
.megalotto-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $_megalotto-gradient;
}

.megalotto-balls {
	$_ball-grid__cell: 24;
	$_ball-grid__col: calc(100% / #{$_ball-grid__cell});
	$_ball-grid__row: calc(100% / #{$_ball-grid__cell});

	display: grid;
	grid-template-columns: repeat($_ball-grid__cell, $_ball-grid__col);
	grid-template-rows: repeat($_ball-grid__cell, $_ball-grid__row);
	position: relative;
	top: calc(#{$_ball-grid__col} * -6);
	left: calc(#{$_ball-grid__row} * -6);
	width: calc(100% + calc(#{$_ball-grid__row} * 12));
	height: calc(100% + calc(#{$_ball-grid__col} * 12));
	overflow: hidden;

}
.megalotto-ball-item {
	display: flex;
	align-items: center;
	justify-content: center;

	&--1 {
		grid-area: 1/5/-5/10;
		justify-content: flex-end;
	}

	&--2 {
		grid-area: 1/11/-1/-11;
		transform: rotate(16deg) scaleX(-1);
	}

	&--3 {
		grid-area: -1/-4/4/-8;
		transform: rotate(24deg) scaleY(-1);
	}
}

.megalotto-ball {
	@include ratio(1,1);
	width: 100%;
	fill: url(#megalotto-gradient) $_megalotto-secondary;
}

.crucijuegos-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50%;
	/* background-image: url("../assets/crucijuegos-background.jpg"); */
	background-color: $_crucijuegos-primary;
}

.linkiar-background {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: $_linkiar-primary;
	height: 100%;
}

.linkiar-particles {
	grid-area: 1/1/1/1;
    margin: auto;
	background-color: $_linkiar-primary;
}

.particles-js-canvas-el {
  width: auto !important;
  height: 100% !important;
}

.modular-doodle {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	background-color: $_linkiar-primary;
}

#app {
	display: grid;
	grid-auto-rows: auto 1fr;
	padding: 10vh 10vw;
	grid-gap: 5vh;
	opacity: 0;
	animation: fade-in-animation $duration 1 forwards;
	min-height: 100vh;
}

.header {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $space--large;
	width: 100%;
	max-width: $content-size-medium;

	@include phablet() {
		grid-template-columns: 1fr 1fr;
	}
}

.header-title {
	@include set-font-size(13px);

	letter-spacing: 1.3px;
	line-height: 1.5;
	cursor: pointer;
}

.header-list {
	display: grid;
	grid-gap: $space--small;
}
.header-item {
	display: grid;
	grid-gap: $space;
	margin: 0 0 auto;

	p {
		@include set-font-size(12px);
		letter-spacing: .8px;
	}
}

.contact-links {
	display: flex;
	letter-spacing: 1.3px;

	> * {
		&:not(:last-child) {
			margin: 0 1ex 0 0;
		}
	}
}

.header-link {
	@include set-font-size(12px);
}

.detail-nav {
	display: grid;
	background: $light;
	z-index: 1;
	margin: 0 auto 0 -5vw;
	width: calc(100% + 10vw);

	&--top {
		position: sticky;
		top: 0;
		.detail-nav__list {
			place-content: flex-start;
		}
	}
}

.detail-nav__list {
	display: grid;
	grid-gap: $space--x-large;
	place-content: center;
	grid-auto-flow: column;
	margin: 0 auto;
	width: 100%;
	max-width: $content-size-medium;
}

.detail-nav__link {
	@include set-font-size(12px);

	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: $space--small;
	padding: $space--small;
	text-decoration: none;
	color: $medium-light;

	.link {
		color: $medium-light;
	}
}

.detail-nav__link-icon {
	width: $icon-size;
	height: $icon-size;
	fill: none;
	stroke: currentColor;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.detail-nav__link-label {
	margin: auto;
}

.content {
	display: grid;
	grid-gap: $space--xx-large;
	margin: 0 auto;
	width: 100%;
}

.page {
	display: grid;
	grid-gap: $space--large;
	margin-bottom: $space--x-large;
	opacity: 0;
	animation: fade-in-animation calc(#{$duration} * 2) 1 forwards;
}

.works {
	display: grid;
	grid-gap: $space--large;
	margin: 0;
	width: 100%;
	max-width: $content-size-small;

	@include tablet() {
		grid-template-columns: 1fr 1fr;
	}
}

.works-item {
	display: grid;
	margin: 0 auto auto;
	width: 100%;
	text-decoration: none;
	opacity: 0;
	animation: slide-in-animation $duration 1 forwards;

	@include phablet() {
		grid-template-columns: 1fr 1fr;
		grid-gap: $space;
	}

	@include tablet() {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
}

@for $i from 1 to 100 {
	.works-item:nth-child(#{$i}) {
		animation-delay: $i * 0.1s;
	}

	.accordion__item:nth-child(#{$i}) {
		animation-delay: $i * 0.1s;
	}
}

.works-thumbnail {
	@include ratio(1.5,1);
	display: grid;
	position: relative;
	border-radius: $border-radius;
	overflow: hidden;
	border: 1px solid $light;
	box-shadow: 0px 0px 0px 1px rgba($_medium-light, 0.2);
	transition: box-shadow $duration $bezier;

	&::before {
		content: "";
		transition: opacity $duration $bezier;
		background-color: var(--works-thumbnail-color, $_medium-light);
	}

	&:hover {
		box-shadow: 0px 0px 0px 1px rgba($_medium-light, 1);

		&::before {
			opacity: 0.9;
		}
	}

	figure {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> * {
			margin: auto;
			height: 80%; // REVIEW
			object-fit: cover;
		}
	}

	&--linkiar {
		/* background: red; */
	}
	&--megalotto {
		/* background: orangered; */
	}
	&--modular {
		/* background: orange; */
	}
	&--crucijuegos {
		/* background: gold; */
	}
}

.works-description {
	margin: auto 0;
	padding: $space;
	transition: opacity $duration $bezier;
}

.works-title {
	@include set-font-size(13px);
	@include regular-text();

	display: flex;
	grid-gap: $space--small;
    place-content: center flex-start;
	color: $caption;
	letter-spacing: .8px;

	.link {
		color: $caption;
	}

	em {
		@include set-font-size(11px);

		font-family: $font-family--mono;
		font-style: normal;
		opacity: 0.5;
	}
}

.works-subtitle {
	@include set-font-size(10px);

	color: $text;
	letter-spacing: .8px;

	@include phablet() {
		text-align: right;
	}
}

.work-detail__cover {
	display: grid;
	margin: 0 auto 0 -5vw;
	width: calc(100% + 10vw);
	overflow: hidden;
	background: $medium;
	opacity: 0;
	animation: fade-in-animation $duration $delay 1 forwards;

	figure {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> * {
			margin: auto;
			height: 100%;
			object-fit: cover;
		}
	}
}

.work-detail__cover-background {
	@include ratio(3,1);
	grid-area: 1 / 1 / 1 / 1;
}
.work-detail__cover-content {
	grid-area: 1 / 1 / 1 / 1;
	display: grid;
	place-content: center;
	z-index: 1;
}

.work-detail__logo {
	width: $default-width;
	max-width: 60vw;

	img {
		width: 100%;
	}
}

.work-detail__content {
	display: grid;
	grid-gap: $space--x-large;
	padding: 0 $space--small;
	margin: 5vw auto;
	width: 100%;
	max-width: $content-size-medium;
}

.work-detail__title {
	@include set-font-size(16px);

	letter-spacing: .8px;
	&:before {
		content: "—";
		margin-right: $space--small;
		color: $text;
	}
}

.work-detail__description {
	@include set-font-size(14px);
	display: grid;
	grid-gap: $space--large;
	justify-items: flex-start;
	line-height: 1.6;
	width: 100%;
	max-width: $content-size-medium;
}

.work-detail__list {
	display: grid;
	grid-gap: $space;
}

.work-detail__list-title {
	@include set-font-size(16px);
	color: $_n50;
	display: none;
}

.work-detail__list-item {
	@include set-font-size(12px);
	color: $text;
	letter-spacing: .4px;

	&:before {
		content: "";
		display: inline-block;
		width: $space--x-small;
		height: $space--x-small;
		margin: 0 $space--small $space--xx-small 0;
		background-color: $medium-light;
	}
}

.work-detail__credits {
	@include set-font-size(10px);

	display: grid;
	grid-gap: $space--small;
	margin: 0 auto 5vw;
	padding: 0 $space;
	width: 100%;
	max-width: $content-size-medium;
	line-height: 1.4;

	.link {
		text-decoration: underline;
	}

	strong {
		margin-right: $space--xx-small;
	}
}

.work-detail__gallery-wrapper {
	display: flex;
	position: relative;
}

.work-detail__gallery {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $space--small;
	position: relative;
	margin: auto auto $space--x-large;
	max-width: calc(#{$content-size} + 10vw);
}

.work-detail__gallery-item {
	@include ratio(4,3);

	display: grid;
	position: relative;
	grid-column: span 12;
	overflow: hidden;
	border-radius: $space--x-small;

	@include tablet {
		grid-column: span 6;
	}

	&--full {
		grid-column: span 12;
	}

	&:before {
		grid-area: 1 / 1 / 1 / 1;
	}

	figure {
		grid-area: 1 / 1 / 1 / 1;
		display: grid;

		img {
			object-fit: cover;
			width: 100%;
		}
	}
}

.about {
	display: grid;
	place-content: flex-start;
	width: 100%;
	max-width: $content-size-medium;

	&:before {
		content: "";
		margin: $space--large auto $space--small 0;
		width: $space--large;
		height: $stroke-size;
		background: rgba($_caption, 0.2);
	}
}

.about-p {
	@include set-font-size(11px);

	max-width: calc(#{$content-size-small} - #{$space--large});
	letter-spacing: .8px;
	line-height: 1.6;
	color: $caption;
}


.bulletpoints {
	display: grid;
	width: 100%;
	max-width: $content-size-medium;
}

.accordion {
	display: grid;
    list-style: none;
	margin: 0;

	@include tablet() {
		grid-template-columns: 1fr 1fr;
	}
}

.accordion-list {
	display: grid;
	place-content: flex-start;
	grid-gap: $space;
}

.accordion-title {
	@include set-font-size(13px);
	@include regular-text();

	letter-spacing: .8px;
	margin: auto 0;
}

.accordion-content {
	@include set-font-size(12px);

	margin: 0;
	line-height: 1.8;
	max-width: $content-size-medium;
	padding: $space;
	padding-left: $space--large;
	border-left: $stroke-size solid $_n20;
	margin-left: calc(#{$space--small} + #{$space--x-small});
	color: $caption;
}

.accordion-item {
	margin: 0 0 auto;
}

.accordion__item {
    display: grid;
    cursor: pointer;
    position: relative;
    transition: padding $duration 0.1s $bezier;
    opacity: 0;
    animation: slide-in-animation $duration 1 forwards;

    &:first-child {
        padding-top: 0 !important;
    }

    &:last-child {
        padding-bottom: 0 !important;
    }
}

.accordion__item_active {
    margin: 0 0 $icon-size;
}

.accordion__trigger {
    display: grid;
    grid-gap: $space;
    padding: $space 0;
    grid-auto-flow: column;
	place-content: center flex-start;
	margin: 0 0 auto;

    &:hover {
        color: $primary;
    }
}

.accordion-enter-active,
.accordion-leave-active {
    will-change: height, opacity;
    transition: height $duration $bezier, opacity $duration $bezier;
    overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
    height: 0 !important;
    opacity: 0;
}

.accordion-icon {
	svg {
		width: $icon-size;
		height: $icon-size;
		fill: none;
		stroke: currentColor;
		stroke-width: 1px;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

// link
// ---------------------------------------------------------------------------------------------------------------------
.link {
	color: inherit;
	text-decoration: none;
	transition: color calc(#{$duration} / 2) $bezier;
	color: $primary;

	&:hover {
		text-decoration: underline;
	}
}


// icons animations
// =====================================================================================================================

.svg-ux__head,
.svg-ux__body {
	transform: translateX(4px);
	transition: transform calc(#{$duration} / 2) $bezier;
}

.svg-ux__line {
	opacity: 0;
}
.svg-ux__cross,
.svg-ux__tick {
	stroke-dasharray: 10;
	stroke-dashoffset: 10;
}

.svg-code__chevron-left {
	transform: translateX(4px);
	transition: transform calc(#{$duration} / 2) $bezier;
}

.svg-code__chevron-right {
	transform: translateX(-4px);
	transition: transform calc(#{$duration} / 2) $bezier;
}

.svg-code__character {
	opacity: 0;
}

.svg-compass__needle {
	transform:rotate(-12deg);
	transform-origin: 50%;
}

.accordion__trigger_active {

	.svg-layout__vertical {
		animation: 1.2s $bezier infinite both layout-vertical;
	}

	.svg-layout__horizontal {
		animation: 1.4s $bezier infinite both layout-horizontal;
	}

	.svg-ux__head,
	.svg-ux__body {
		transform: none;
	}

	.svg-ux__line {
		opacity: 1;
	}
	.svg-ux__cross {
		animation: 4s linear infinite both errormark
	}
	.svg-ux__tick {
		animation: 2s linear infinite both checkmark

	}

	.svg-code__chevron-left,
	.svg-code__chevron-right {
		transform: none;
	}

	.svg-code__character {
		animation: 1s step-end infinite both steady-blink;
	}

	.svg-duck {
		animation: rock-duck 1s $bezier infinite;
		transform-origin: 50%;
	}

	.svg-duck__eye {
		animation: 1s infinite both blink;
	}

	.svg-brand {
		animation: brand-motion 1s infinite both;
		transform-origin: 50%;
	}

	.svg-compass__needle {
		animation: waggle 1s $bezier infinite;
		transform-origin: 50%;
	}
}


@keyframes rock-duck {
	50%  { transform: rotate(-5deg) translateY(-2px); }
}

@keyframes layout-vertical {
	0%{
		transform: translateX(0px);
	}
	20%{
		transform: translateX(6px);
	}
	80%{
		transform: translateX(6px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes layout-horizontal {
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(6px);
	}
	80%{
		transform: translateY(6px);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes user-cross {
	0%{
		opacity: 1;
		transform: translateY(0px);
	}
	20%{
		opacity: 0;
		transform: translateY(-4px);
	}
	60%{
		opacity: 0;
		transform: translateY(-4px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes user-tick {
	0%{
		opacity: 0;
		transform: translateY(-4px);
	}
	10% {
		transform: translateY(0px);
	}
	10%, 90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(-4px);
	}
}

@keyframes steady-blink {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes blink {
	0%, 30%{
		opacity: 0;
	}
	10%, 40%{
		opacity: 1;
	}
}

@keyframes waggle {
	0%   {transform:rotate(-12deg);}
	10%  {transform:rotate(12deg);}
	40%  {transform:rotate(-25deg);}
	60%  {transform:rotate(20deg);}
	80%  {transform:rotate(-15deg);}
	100% {transform:rotate(-12deg);}
}

@keyframes brand-motion {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(2px, -2px);
	}
	40% {
		transform: translate(2px, 2px);
	}
	60% {
		transform: translate(-2px, 2px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes checkmark{
	0%{
		stroke-dasharray:10;
		stroke-dashoffset:10;
	}
	10%, 50%{
		stroke-dashoffset:0;
	}
	100%, 55%{
		stroke-dashoffset:10;
	}
}

@keyframes errormark{
	0%, 25%, 50%, 75% {
		stroke-dasharray:10;
		stroke-dashoffset:10;
	}

	30%, 45%, 80%, 95% {
		stroke-dashoffset:0;
	}
}
