
.megalotto-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $_megalotto-gradient;
}

.megalotto-balls {
	$_ball-grid__cell: 24;
	$_ball-grid__col: calc(100% / #{$_ball-grid__cell});
	$_ball-grid__row: calc(100% / #{$_ball-grid__cell});

	display: grid;
	grid-template-columns: repeat($_ball-grid__cell, $_ball-grid__col);
	grid-template-rows: repeat($_ball-grid__cell, $_ball-grid__row);
	position: relative;
	top: calc(#{$_ball-grid__col} * -6);
	left: calc(#{$_ball-grid__row} * -6);
	width: calc(100% + calc(#{$_ball-grid__row} * 12));
	height: calc(100% + calc(#{$_ball-grid__col} * 12));
	overflow: hidden;

}
.megalotto-ball-item {
	display: flex;
	align-items: center;
	justify-content: center;

	&--1 {
		grid-area: 1/5/-5/10;
		justify-content: flex-end;
	}

	&--2 {
		grid-area: 1/11/-1/-11;
		transform: rotate(16deg) scaleX(-1);
	}

	&--3 {
		grid-area: -1/-4/4/-8;
		transform: rotate(24deg) scaleY(-1);
	}
}

.megalotto-ball {
	@include ratio(1,1);
	width: 100%;
	fill: url(#megalotto-gradient) $_megalotto-secondary;
}

.crucijuegos-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://insumos.crucijuegos.com/assets/img/bg/international01_big.jpg");
	background-color: $_crucijuegos-primary;
}

.modular-background {
	background-color: $_modular-primary;
}

.linkiar-background {
	background-color: $_linkiar-primary;
}

#app {
	display: grid;
	grid-auto-rows: auto 1fr;
	grid-gap: $space;
	padding: $space--x-large 0;
	opacity: 0;
	animation: fade-in-animation $duration 1 forwards;
	min-height: 100vh;

	@include phablet {
		padding: 5% 0;
	}
}

header {
	@include set-font-size(12px);

	margin: 0 auto;
	padding: 0 $space;
	width: 100%;
}

.header-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $space--large;
	margin: 0 auto;
	width: 100%;
	max-width: $content-size;

	@include phablet() {
		grid-template-columns: 1fr 1fr;
		grid-gap: $space;
	}
}

.header-item {
	display: grid;
	grid-gap: $space--small;
}

.header-link {
	@include set-font-size(10px);

	&:before {
		content: "—";
		margin-right: $space--small;
	}
}

.detail-nav {
	display: grid;
	background: $light;
	padding: $space;
	z-index: 1;

	&--top {
		position: sticky;
		top: 0;
		margin: 0 auto 0 calc(#{$space} * -1);
		width: calc(100% + #{$space--large});

		.detail-nav__list {
			place-content: flex-start;
		}
	}
}

.detail-nav__list {
	display: grid;
	grid-gap: $space--x-large;
	place-content: center;
	grid-auto-flow: column;
	margin: 0 auto;
	width: 100%;
	max-width: $content-size;
}

.detail-nav__link {
	@include set-font-size(11px);

	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: $space--small;
	text-decoration: none;
	color: $caption;

	&:hover {
		color: $primary;
	}
}

.detail-nav__link-icon {
	width: $icon-size;
	height: $icon-size;
	fill: none;
	stroke: currentColor;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.detail-nav__link-label {
	margin: auto;
}

.content {
	display: grid;
	grid-gap: $space--xx-large;
	margin: 0 auto;
	padding: 0 $space;
	width: 100%;
}

.page {
	display: grid;
	grid-gap: $space--large;
	margin-bottom: $space--x-large;
	opacity: 0;
	animation: fade-in-animation calc(#{$duration} * 2) 1 forwards;

	&--home {
		grid-template-rows: auto 1fr;
		grid-gap: $space--x-large;
	}
}

.works {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $space--large $space;
	grid-auto-columns: 1fr;
	place-content: flex-start stretch;
	margin: $space--x-large auto 0;
	width: 100%;
	max-width: $content-size;
}

.works-item {
	grid-column: span 12;
	display: grid;
	grid-gap: calc(#{$space}) + #{$space--small};
	margin: 0 auto auto;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	opacity: 0;
	animation: slide-in-animation $duration 1 forwards;

	@include phablet {
		grid-column: span 6;
	}


	@include desktop {
		grid-column: span 3;
	}

	&:hover {
		.works-thumbnail {
			box-shadow: $shadow-2;
		}
		.works-description {
			animation: slide-in-animation $duration $bezier 1 forwards;
		}
	}
}

@for $i from 1 to 100 {
	.works-item:nth-child(#{$i}) {
		animation-delay: $i * 0.1s;
	}

	.accordion__item:nth-child(#{$i}) {
		animation-delay: $i * 0.1s;
	}
}

.works-thumbnail {
	@include ratio(18,13);
	display: grid;
	position: relative;
	border-radius: $space--x-small;
	overflow: hidden;
	transition: box-shadow $duration $bezier;
	box-shadow: $shadow-1;

	&:before {
		grid-area: 1 / 1 / 1 / 1;
	}

	figure {
		grid-area: 1 / 1 / 1 / 1;
		display: grid;
		place-content: center;

		> * {
			object-fit: cover;
			width: 100%;
		}
	}
}

.works-description {
	display: grid;
	grid-gap: $space--x-small;
	padding: $space--x-small;
	transition: opacity $duration $bezier;

	@include desktop {
		opacity: 0;
	}
}

.works-title {
	@include set-font-size(12px);
	@include regular-text();

	color: $caption;
}

.works-subtitle {
	@include set-font-size(11px);

	color: $text;
}

.work-detail__cover {
	@include ratio(1,1);

	display: grid;
	margin: 0 auto 0 calc(#{$space} * -1);
	width: calc(100% + #{$space--large});
	overflow: hidden;
	background: $medium;
	opacity: 0;
	animation: fade-in-animation $duration $delay 1 forwards;

	&:before {
		grid-area: 1 / 1 / 1 / 1;
	}

	@include phablet() {
		@include ratio(2,1);
	}

	@include desktop() {
		@include ratio(4,1);
	}
}

.work-detail__cover-background {
	grid-area: 1 / 1 / 1 / 1;
}
.work-detail__cover-content {
	grid-area: 1 / 1 / 1 / 1;
	display: grid;
	place-content: center;
	z-index: 1;
}

.work-detail__logo {
	width: $default-width;
	max-width: 60vw;
}

.work-detail__content {
	display: grid;
	grid-gap: $space--x-large;
	padding: $space--x-large 0 0;
	margin: 0 auto;
	width: 100%;
	max-width: $content-size;
}

.work-detail__title {
	@include set-font-size(16px);
}

.work-detail__description {
	@include set-font-size(12px);
	display: grid;
	grid-gap: $space--large;
	justify-items: flex-start;
	line-height: 1.6;
	width: 100%;
	max-width: $content-size-medium;

	.link {
		text-decoration: underline;
	}
}

.work-detail__list {
	display: grid;
	grid-gap: $space--small;
	max-width: calc(#{$content-size-medium} - #{$space--xx-large});
}

.work-detail__list-title {
	@include set-font-size(14px);
	color: $_n50;
}

.work-detail__list-item {

	&:before {
		content: "—";
		margin-right: $space--small;
		color: $caption;
	}
}

.work-detail__credits {
	@include set-font-size(11px);
	display: grid;
	grid-gap: $space--xx-small;
	max-width: $content-size;
	margin: 0 auto;
	text-align: center;

	.link {
		text-decoration: underline;
	}

	strong {
		margin-right: $space--xx-small;
	}
}

.work-detail__gallery-wrapper {
	display: flex;
	position: relative;
}

.work-detail__gallery {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $space--small;
	position: relative;
	margin: auto auto $space--x-large;
	max-width: $content-size;
}

.work-detail__gallery-item {
	@include ratio(4,3);

	display: grid;
	position: relative;
	grid-column: span 6;
	overflow: hidden;
	border-radius: $space--x-small;

	&--full {
		grid-column: span 12;
	}

	&:before {
		grid-area: 1 / 1 / 1 / 1;
	}

	figure {
		grid-area: 1 / 1 / 1 / 1;
		display: grid;
		place-content: center;

		img {
			object-fit: cover;
			width: 100%;
		}
	}
}

.about {
	display: grid;
	grid-template-columns: 1fr;
	place-content: flex-start;
	grid-gap: $space--x-large;
	margin: 0 auto;
	width: 100%;
	max-width: $content-size;

	@include tablet() {
		grid-template-columns: 1fr 1fr;
		grid-gap: $space;
	}
}

.about-body {
	display: grid;
	grid-gap: $space;
	margin: 0 0 auto;
	position: relative;
}

.about-p {
	@include set-font-size(12px);

	max-width: $content-size-small;
	color: $caption;

	&--year {
		color: $text;
	}
}


.about-accordions {
	display: grid;
	margin: 0 auto 0 0;
	width: 100%;
}

.accordion-title {
	@include set-font-size(13px);
	@include regular-text();

	margin: auto 0;
}

.accordion-content {
	@include set-font-size(12px);

	margin: 0;
	line-height: 1.6;
	max-width: $content-size-small;
	padding: 0 0 0 calc((#{$icon-size} / 2) + #{$space});
	border-left: $stroke-size solid $_n30;
	margin-left: calc(#{$space--small} + #{$space--xx-small});
	color: $caption;
}

.accordion-icon {
	svg {
		width: $icon-size;
		height: $icon-size;
		fill: none;
		stroke: currentColor;
		stroke-width: 1px;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

// link
// ---------------------------------------------------------------------------------------------------------------------
.link {
	color: inherit;
	text-decoration: none;
	transition: color calc(#{$duration} / 2) $bezier;

	&:hover {
		color: $primary;
	}
}


// icons animations
// =====================================================================================================================

.svg-ux__head,
.svg-ux__body {
	transform: translateX(4px);
	transition: transform calc(#{$duration} / 2) $bezier;
}

.svg-ux__line {
	opacity: 0;
}
.svg-ux__cross,
.svg-ux__tick {
	stroke-dasharray: 10;
	stroke-dashoffset: 10;
}

.svg-code__chevron-left {
	transform: translateX(4px);
	transition: transform calc(#{$duration} / 2) $bezier;
}

.svg-code__chevron-right {
	transform: translateX(-4px);
	transition: transform calc(#{$duration} / 2) $bezier;
}

.svg-code__character {
	opacity: 0;
}

.svg-compass__needle {
	transform:rotate(-12deg);
	transform-origin: 50%;
}

.accordion__trigger_active {

	.svg-layout__vertical {
		animation: 1.2s $bezier infinite both layout-vertical;
	}

	.svg-layout__horizontal {
		animation: 1.4s $bezier infinite both layout-horizontal;
	}

	.svg-ux__head,
	.svg-ux__body {
		transform: none;
	}

	.svg-ux__line {
		opacity: 1;
	}
	.svg-ux__cross {
		animation: 4s linear infinite both errormark
	}
	.svg-ux__tick {
		animation: 2s linear infinite both checkmark

	}

	.svg-code__chevron-left,
	.svg-code__chevron-right {
		transform: none;
	}

	.svg-code__character {
		animation: 1s step-end infinite both steady-blink;
	}

	.svg-duck {
		animation: rock-duck 1s $bezier infinite;
		transform-origin: 50%;
	}

	.svg-duck__eye {
		animation: 1s infinite both blink;
	}

	.svg-brand {
		animation: brand-motion 1s infinite both;
		transform-origin: 50%;
	}

	.svg-compass__needle {
		animation: waggle 1s $bezier infinite;
		transform-origin: 50%;
	}
}


@keyframes rock-duck {
	50%  { transform: rotate(-5deg) translateY(-2px); }
}

@keyframes layout-vertical {
	0%{
		transform: translateX(0px);
	}
	20%{
		transform: translateX(6px);
	}
	80%{
		transform: translateX(6px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes layout-horizontal {
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(6px);
	}
	80%{
		transform: translateY(6px);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes user-cross {
	0%{
		opacity: 1;
		transform: translateY(0px);
	}
	20%{
		opacity: 0;
		transform: translateY(-4px);
	}
	60%{
		opacity: 0;
		transform: translateY(-4px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes user-tick {
	0%{
		opacity: 0;
		transform: translateY(-4px);
	}
	10% {
		transform: translateY(0px);
	}
	10%, 90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(-4px);
	}
}

@keyframes steady-blink {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes blink {
	0%, 30%{
		opacity: 0;
	}
	10%, 40%{
		opacity: 1;
	}
}

@keyframes waggle {
	0%   {transform:rotate(-12deg);}
	10%  {transform:rotate(12deg);}
	40%  {transform:rotate(-25deg);}
	60%  {transform:rotate(20deg);}
	80%  {transform:rotate(-15deg);}
	100% {transform:rotate(-12deg);}
}

@keyframes brand-motion {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(2px, -2px);
	}
	40% {
		transform: translate(2px, 2px);
	}
	60% {
		transform: translate(-2px, 2px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes checkmark{
	0%{
		stroke-dasharray:10;
		stroke-dashoffset:10;
	}
	10%, 50%{
		stroke-dashoffset:0;
	}
	100%, 55%{
		stroke-dashoffset:10;
	}
}

@keyframes errormark{
	0%, 25%, 50%, 75% {
		stroke-dasharray:10;
		stroke-dashoffset:10;
	}

	30%, 45%, 80%, 95% {
		stroke-dashoffset:0;
	}
}
