#app {
	display: grid;
	grid-gap: $space--large;
	margin: 0;
	padding: $space--large $space;
	opacity: 0;
	animation: fade-in-animation $duration $delay 1 forwards;
	min-height: 100vh;

	@include phablet {
		padding: 5%;
	}

	@include tablet {
		padding: 10%;
	}
}

nav {
	display: grid;
	grid-gap: $space;
    grid-auto-flow: column;
    place-content: flex-start;
	margin: $space auto;
	padding: 0 0 $space--small;
	width: 100%;
	max-width: $content-size;
}

header {
	@include set-font-size(11px);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $space;
	grid-auto-flow: row;
	margin: 0 auto auto;
	width: 100%;
	max-width: $content-size;
	letter-spacing: .1px;
}

.content {
	display: grid;
	grid-gap: $space--x-large;
	margin: 0 auto;
	width: 100%;
}

.works {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $space $space--small;
	grid-auto-columns: 1fr;
	place-content: flex-start stretch;
	margin: 0 auto;
	max-width: $content-size;
}

.works-item {
	display: grid;
	grid-column: span 12;
	grid-gap: calc(#{$space}) + #{$space--small};
	margin: 0 auto auto;
	overflow: hidden;
	cursor: pointer;
	transition: transform calc(#{$duration} / 2) ease;
	text-decoration: none;

	@include phablet {
		grid-column: span 6;
	}

	@include tablet {
		grid-column: span 4;
	}
}

.works-thumbnail {
	@include ratio(4,2);
	display: grid;
	position: relative;
	border-radius: $space--x-small;
	overflow: hidden;

	&:before {
		grid-area: 1 / 1 / 1 / 1;
	}

	figure {
		grid-area: 1 / 1 / 1 / 1;
		display: grid;
		place-content: center;
		transition: opacity calc(#{$duration} / 3) ease;

		img {
			object-fit: cover;
			width: 100%;
		}
	}
}

.works-description {
	display: grid;
	grid-gap: $space--small;
	padding: $space--x-small;
}

.works-title {
	@include set-font-size(11px);
	@include regular-text();

	color: $caption;
}

.works-subtitle {
	@include set-font-size(11px);

	color: $text;
}

.work-detail {
	display: grid;
	grid-gap: $space--large;
}

ul {
	display: grid;
	grid-gap: $space--small;
	list-style: none;
}

.work-detail__title {
	display: grid;
	grid-gap: $space--small;
	grid-template-columns: 1fr;
	place-content: center space-between;

	h3{
		@include set-font-size(24px);
		color: $text;
		opacity: .5;
	}

	a, span {
		@include set-font-size(12px);
	}
}
.work-detail__description {
	@include set-font-size(11px);
	line-height: 1.6;
	width: 100%;
	max-width: $content-size;
	margin: 0 auto;
}

.work-detail__gallery-wrapper {
	@include touch-scroll(on, x);
	@include hide-scrollbars();

	display: flex;
	position: relative;
	margin: 0 auto 0 calc(#{$space} * -1);
	width: calc(100% + #{$space--large});
	scroll-behavior: smooth;

	@include phablet {
		margin: 0 auto;
		width: 100%;
	}

	@include tablet {
		margin: 0 auto 0 calc(#{$space} * -1);
		width: calc(100% + #{$space--large});
	}
}

.work-detail__gallery {
	display: grid;
    grid-gap: $space--small;
    grid-auto-flow: column;
	grid-auto-columns: 80vw;
    position: relative;
	margin: auto auto $space--x-large;
	padding: 0 $space;

	@include phablet {
		grid-template-columns: 1fr;
		grid-auto-columns: 1fr;
		grid-auto-flow: row;
		padding: 0;
	}

	@include tablet {
		grid-template-columns: 1fr 1fr;
	}
}

.work-detail__gallery-item {
	@include ratio(4,3);
	display: grid;
	position: relative;

	&:before {
		grid-area: 1 / 1 / 1 / 1;
	}

	figure {
		grid-area: 1 / 1 / 1 / 1;
		display: grid;
		place-content: center;

		img {
			object-fit: cover;
			width: 100%;
			border-radius: $space--xx-small;
			border: 2px solid rgba($_medium, .07);
			overflow: hidden;
		}
	}
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $space;
	margin: 0 auto;
	width: 100%;
	max-width: $content-size;
}

.about-body {
	display: grid;
	grid-gap: $space;
	margin: 0 0 auto;
	position: relative;

	&::before {
		content: "—";
	}

}

.about-p {
	@include set-font-size(11px);

	max-width: $content-size-small;
	color: $caption;

	&--year {
		color: $text;
	}
}


.about-accordions {
	display: grid;
	margin: 0 auto 0 0;
	width: 100%;
}

.accordion {
	display: grid;
	grid-gap: $space;
}

.summary {
	@include set-font-size(11px);

    display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: $space--small;
	margin: $space--small 0;
	outline: none;
	cursor: pointer;
	color: $caption;
	transition: opacity $duration ease, color $duration ease;

	&:hover {
		color: $header;
		opacity: 1;
	}

	&::-webkit-details-marker {
		display:none;
	}
}

.summary__title {
	margin: auto 0;
}

.summary__description {
	@include set-font-size(12px);

	margin: 0;
	line-height: 1.6;
	max-width: $content-size-small;
}

.summary__icon {
	svg {
		width: $icon-size;
		height: $icon-size;
		fill: none;
		stroke: currentColor;
		stroke-width: 1px;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}


// icons animations
// =====================================================================================================================

.svg-ux__head,
.svg-ux__body {
	transform: translateX(4px);
	transition: transform calc(#{$duration} / 2) ease;
}

.svg-ux__line {
	opacity: 0;
}
.svg-ux__cross,
.svg-ux__tick {
	stroke-dasharray: 10;
	stroke-dashoffset: 10;
}

.svg-code__chevron-left {
	transform: translateX(4px);
	transition: transform calc(#{$duration} / 2) ease;
}

.svg-code__chevron-right {
	transform: translateX(-4px);
	transition: transform calc(#{$duration} / 2) ease;
}

.svg-code__character {
	opacity: 0;
}

.svg-compass__needle {
	transform:rotate(-12deg);
	transform-origin: 50%;
}

.accordion[open] {
	.summary {
		opacity: 1;
		color: $header;
		grid-gap: $space;
	}
	.summary__description {
		margin-bottom: $space;
		padding-left: $space--small;
	}

	.svg-layout__vertical {
		animation: 1.2s ease-in-out infinite both layout-vertical;
	}

	.svg-layout__horizontal {
		animation: 1.4s ease-in-out infinite both layout-horizontal;
	}

	.svg-ux__head,
	.svg-ux__body {
		transform: none;
	}

	.svg-ux__line {
		opacity: 1;
	}
	.svg-ux__cross {
		animation: 4s linear infinite both errormark
	}
	.svg-ux__tick {
		animation: 2s linear infinite both checkmark

	}

	.svg-code__chevron-left,
	.svg-code__chevron-right {
		transform: none;
	}

	.svg-code__character {
		animation: 1s step-end infinite both steady-blink;
	}

	.svg-duck {
		animation: rock-duck 1s ease-in-out infinite;
		transform-origin: 50%;
	}

	.svg-duck__eye {
		animation: 1s infinite both blink;
	}

	.svg-brand {
		animation: brand-motion 1s infinite both;
		transform-origin: 50%;
	}

	.svg-compass__needle {
		animation: waggle 1s ease-in-out infinite;
		transform-origin: 50%;
	}
}


@keyframes rock-duck {
	50%  { transform: rotate(-5deg) translateY(-2px); }
}

@keyframes layout-vertical {
	0%{
		transform: translateX(0px);
	}
	20%{
		transform: translateX(6px);
	}
	80%{
		transform: translateX(6px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes layout-horizontal {
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(6px);
	}
	80%{
		transform: translateY(6px);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes user-cross {
	0%{
		opacity: 1;
		transform: translateY(0px);
	}
	20%{
		opacity: 0;
		transform: translateY(-4px);
	}
	60%{
		opacity: 0;
		transform: translateY(-4px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes user-tick {
	0%{
		opacity: 0;
		transform: translateY(-4px);
	}
	10% {
		transform: translateY(0px);
	}
	10%, 90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(-4px);
	}
}

@keyframes steady-blink {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes blink {
	0%, 30%{
		opacity: 0;
	}
	10%, 40%{
		opacity: 1;
	}
}

@keyframes waggle {
    0%   {transform:rotate(-12deg);}
    10%  {transform:rotate(12deg);}
    40%  {transform:rotate(-25deg);}
    60%  {transform:rotate(20deg);}
    80%  {transform:rotate(-15deg);}
    100% {transform:rotate(-12deg);}
}

@keyframes brand-motion {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(2px, -2px);
	}
	40% {
		transform: translate(2px, 2px);
	}
	60% {
		transform: translate(-2px, 2px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes checkmark{
	0%{
		stroke-dasharray:10;
		stroke-dashoffset:10;
	}
	10%, 50%{
		stroke-dashoffset:0;
	}
	100%, 55%{
		stroke-dashoffset:10;
	}
}

@keyframes errormark{
	0%, 25%, 50%, 75% {
		stroke-dasharray:10;
		stroke-dashoffset:10;
	}

	30%, 45%, 80%, 95% {
		stroke-dashoffset:0;
	}
}
