// notification
// =====================================================================================================================
:host {
    display: block;
}

// notification
// ---------------------------------------------------------------------------------------------------------------------
.notification {
    display: flex;
    align-items: center;
    margin: 0 0 $space--small;
    padding: calc(#{$space} - #{$space--x-small});
    border-radius: $border-radius;
    box-shadow: $shadow-4;
    transform: translate3d(0, 0, 0);
    will-change: transform, opacity;
    pointer-events: all;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        margin: $space;
    }

    // variant info
    // -----------------------------------------------------------------------------------------------------------------
    &--info {
        background-color: $primary;
        color: $primary-contrast;
    }

    // variant message
    // -----------------------------------------------------------------------------------------------------------------
    &--message {
        background: $light;
    }

    // variant success
    // -----------------------------------------------------------------------------------------------------------------
    &--success {
        background-color: $success;
        color: $success-contrast;
    }

    // variant alert
    // -----------------------------------------------------------------------------------------------------------------
    &--alert {
        background-color: $alert;
        color: $alert-contrast;
    }

    // variant error
    // -----------------------------------------------------------------------------------------------------------------
    &--error {
        background-color: $error;
        color: $error-contrast;
    }
}

// content
// ---------------------------------------------------------------------------------------------------------------------
.content {
    display: flex;
    align-items: center;
    width: 100%;

    // paragraph
    // -----------------------------------------------------------------------------------------------------------------
    ::v-deep p {
        @include set-font-size(14px);
        margin: 0;
        height: 100%;
    }
}

// text
// ---------------------------------------------------------------------------------------------------------------------
.text {
    width: 100%;
}

// button
// ---------------------------------------------------------------------------------------------------------------------
.button {
    margin: 0 0 0 $space;
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    width: $icon-size;
    height: $icon-size;

    // variant status
    // -----------------------------------------------------------------------------------------------------------------
    &--status {
        margin: 0 $space--small 0 0;
    }
}
