// file upload
// =====================================================================================================================
$_file-upload-header-transparency: .05;
$_file-upload-files-transparency: .025;

$file-upload-header-dark-transparent: var(--magic-file-upload-header-dark-transparent, rgba($_dark, $_file-upload-header-transparency));
$file-upload-files-dark-transparent: var(--magic-file-upload-files-dark-transparent, rgba($_dark, $_file-upload-files-transparency));

// file upload
// ---------------------------------------------------------------------------------------------------------------------
.file-upload {
    display: block;
    margin: $space auto;
    border-radius: $border-radius;
    background-color: $light;
    box-shadow: $shadow-2;
}

// header
// ---------------------------------------------------------------------------------------------------------------------
.header {
    @include set-font-size(13px);
    margin: calc((#{$space} - #{$space--x-small}) * -1) calc(#{$space} * -1) 0;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $file-upload-header-dark-transparent;
    color: $text-dark;
}

// wrapper
// ---------------------------------------------------------------------------------------------------------------------
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: $space--small;
    cursor: pointer;
}

// title
// ---------------------------------------------------------------------------------------------------------------------
.title {
    @include semibold-text;
    padding: 0 $space;
    text-align: center;
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    width: $icon-size;
    height: $icon-size;

    // variant header
    // -----------------------------------------------------------------------------------------------------------------
    &--header {
        position: absolute;
        right: $space--small;
        opacity: 1;
        transition: opacity $duration ease;
        will-change: opacity;

        // state hover, focus
        // -------------------------------------------------------------------------------------------------------------
        &:hover,
        &:focus {
            opacity: .65;
        }
    }

    // variant status
    // -----------------------------------------------------------------------------------------------------------------
    &--status {
        margin: $space--small 0 0;
        height: calc(#{$icon-size} * 2);
        width: calc(#{$icon-size} * 2);
    }

    // variant file
    // -----------------------------------------------------------------------------------------------------------------
    &--file {
        margin-left: auto;
    }

    // variant file verfied
    // -----------------------------------------------------------------------------------------------------------------
    &--file-verified {
        color: $text-success;
    }

    // variant file pending
    // -----------------------------------------------------------------------------------------------------------------
    &--file-pending {
        color: $text-alert;
    }

    // variant file rejected
    // -----------------------------------------------------------------------------------------------------------------
    &--file-rejected {
        color: $text-error;
    }

    // variant file drop
    // -----------------------------------------------------------------------------------------------------------------
    &--file-drop {
        margin: 0 auto $space;
        color: $primary;
    }
}

// status
// ---------------------------------------------------------------------------------------------------------------------
.status {
    @include semibold-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: $space--large 0;
    text-align: center;

    // variant success, verfied
    // -----------------------------------------------------------------------------------------------------------------
    &--success,
    &--verified {
        color: $text-success;
    }

    // variant alert, pending
    // -----------------------------------------------------------------------------------------------------------------
    &--alert,
    &--pending {
        color: $text-alert;
    }

    // variant error, rejected
    // -----------------------------------------------------------------------------------------------------------------
    &--error,
    &--rejected {
        color: $text-error;
    }

    // action
    // -----------------------------------------------------------------------------------------------------------------
    & + .action {
        margin-top: 0;
    }
}

// files
// ---------------------------------------------------------------------------------------------------------------------
.files {
    margin: 0 auto $space--large;
    padding: $space--x-small $space;
    border-radius: $border-radius;
    background-color: $file-upload-files-dark-transparent;

    // last child
    // -----------------------------------------------------------------------------------------------------------------
    &:last-child {
        margin: 0 auto $space--x-small;
    }
}

// file
// ---------------------------------------------------------------------------------------------------------------------
.file {
    @include set-font-size(12px);
    @include semibold-text;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space--x-small 0;
    width: 100%;
}

// action
// ---------------------------------------------------------------------------------------------------------------------
.action {
    margin: $space--small auto;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        margin: $space auto;
    }
}

// input
// ---------------------------------------------------------------------------------------------------------------------
.input {
    display: none;
}

// button
// ---------------------------------------------------------------------------------------------------------------------
.button {
    cursor: pointer;
}

// file drop
// ---------------------------------------------------------------------------------------------------------------------
.file-drop {
    display: none;

    //
    // -----------------------------------------------------------------------------------------------------------------
    @include desktop() {
        @include set-font-size(12px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto $space--x-small;
        padding: $space--large;
        border: 1px dashed $medium;
        border-radius: calc(#{$border-radius} / 2);
        width: 100%;
        background: $background;
    }
}
