// helpers
// =====================================================================================================================

// strip unit
// ---------------------------------------------------------------------------------------------------------------------
@function strip-unit($value) {
    @if type-of($value) == "number" and not unitless($value) {
        @return $value / ($value * 0 + 1);
    }
    @return $value;
}

// with unit
// ---------------------------------------------------------------------------------------------------------------------
@function with-unit($value, $unit) {
    @return #{$value}#{$unit};
}

// remify
// ---------------------------------------------------------------------------------------------------------------------
@function remify($value) {
    $unit: unit($value);
    @if ($unit == "px") {
        $rounded: round(strip-unit($value) / 16 * 100) / 100;
        @return with-unit($rounded, "rem");
    } @else {
        @return $value;
    }
}

// hex to dec
// ---------------------------------------------------------------------------------------------------------------------
@function hex-to-dec($string) {
    $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
    $string: to-lower-case($string);
    $length: str-length($string);
    $dec: 0;
    @for $i from 1 through $length {
        $factor: 1 + (15 * ($length - $i));
        $index: index($hex, str-slice($string, $i, $i));
        $dec: $dec + $factor * ($index - 1);
    }
    @return $dec;
}

// hex to rgb
// ---------------------------------------------------------------------------------------------------------------------
@function hex-to-rgb($string) {
    $string-lower: to-lower-case($string);
    $r: "";
    $g: "";
    $b: "";
    $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
    $length: str-length($string);
    $max: if($length == 4, 1, 2);
    @if $length != 4 and $length != 7 {
        @return $string;
    }
    @for $i from 2 through $length {
        $c: str-slice($string-lower, $i, $i);
        @if index($hex, $c) == null {
            @return $string;
        }
        @if str-length($r) < $max {
            $r: $r + $c;
        } @else if str-length($g) < $max {
            $g: $g + $c;
        } @else if str-length($b) < $max {
            $b: $b + $c;
        }
    }
    @if $length == 4 {
        $r: $r + $r;
        $g: $g + $g;
        $b: $b + $b;
    }
    @return rgb(hex-to-dec($r), hex-to-dec($g), hex-to-dec($b));
}

// var to color
// ---------------------------------------------------------------------------------------------------------------------
@function var-to-color($value) {
    @if type-of($value) == color {
        @return $value;
    } @else if str-index($value, "--") {
        $value: str-slice($value, str-index($value, "#"), -2);
        @return hex-to-rgb($value);
    } @else {
        @return $value;
    }
}
