// text
// =====================================================================================================================
$_text-line-transparency: .6;

$text-line-transparent: var(--magic-text-line-transparent, rgba($_text-dark, $_text-line-transparency));

// text
// ---------------------------------------------------------------------------------------------------------------------
::v-deep.text {
    @include set-font-size("inherit");
    margin: inherit;
    padding: inherit;
    text-decoration: inherit;
    color: inherit;
    line-height: inherit;

    // spacer
    // -----------------------------------------------------------------------------------------------------------------
    &:after {
        display: block;
        content: " ";
        height: .1px; // fixes margin collapsing issue
    }

    // headers
    // -----------------------------------------------------------------------------------------------------------------
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }

    // paragraph
    // -----------------------------------------------------------------------------------------------------------------
    p {
        @include set-font-size("inherit");
        color: inherit;
    }

    // link
    // -----------------------------------------------------------------------------------------------------------------
    a {
        text-decoration: underline;

        // state hover, focus
        // -------------------------------------------------------------------------------------------------------------
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    // horizontal rule
    // -----------------------------------------------------------------------------------------------------------------
    hr {
        border: 0;
        height: 1px;
        background-color: $text-line-transparent;
        margin: $space--large 0;
    }

    // lists
    // -----------------------------------------------------------------------------------------------------------------
    ul,
    ol {
        margin: 0 0 $space;
    }

    // unordered list
    // -----------------------------------------------------------------------------------------------------------------
    ul {
        margin: 0 auto 0 calc(#{$space} + #{$space--xx-small});
        list-style-type: disc;

        // unordered list
        // -------------------------------------------------------------------------------------------------------------
        ul {
            margin-top: $space--small;
            list-style-type: square;
        }
    }

    // ordered list
    // -----------------------------------------------------------------------------------------------------------------
    ol {
        list-style: inside decimal;
    }

    // image
    // -----------------------------------------------------------------------------------------------------------------
    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    // block quote
    // -----------------------------------------------------------------------------------------------------------------
    blockquote {
        border-left: 3px solid $text-light;
        padding: $space 0 $space $space;

        // block quote
        // -------------------------------------------------------------------------------------------------------------
        blockquote {
            margin: $space 0;
        }
    }

    // table
    // -----------------------------------------------------------------------------------------------------------------
    table {
        width: 100%;
    }

    // table header
    // -----------------------------------------------------------------------------------------------------------------
    th {
        @include semibold-text();
        color: $dark;
    }

    // variant content
    // -----------------------------------------------------------------------------------------------------------------
    &--content {

        // headers
        // -------------------------------------------------------------------------------------------------------------
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $text-dark;
        }

        // unordered list
        // -------------------------------------------------------------------------------------------------------------
        ul {
            margin-bottom: $space;
        }

        // list item
        // -------------------------------------------------------------------------------------------------------------
        li {
            margin-bottom: $space--small;

            // last child
            // ---------------------------------------------------------------------------------------------------------
            &:last-child {
                margin-bottom: 0;
            }
        }

        // no dots
        // -------------------------------------------------------------------------------------------------------------
        .no-dots {

            // list item
            // ---------------------------------------------------------------------------------------------------------
            li {
                list-style-type: none;
            }
        }

        // link
        // -------------------------------------------------------------------------------------------------------------
        a {
            @include semibold-text();
            color: $text-primary;
            text-decoration: none;
            word-break: break-all;

            // link [mailto]
            // ---------------------------------------------------------------------------------------------------------
            &[href^="mailto:"] {
                word-break: break-word;
            }

            // hover
            // ---------------------------------------------------------------------------------------------------------
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // variant offer
    // -----------------------------------------------------------------------------------------------------------------
    &--offer {

        // paragraph
        // -------------------------------------------------------------------------------------------------------------
        p {
            @include set-font-size(14px);
            color: $text-medium;
            line-height: 1.5;
        }

        // ordered list
        // -------------------------------------------------------------------------------------------------------------
        ol {
            counter-reset: item;
            list-style: inside;
            margin: $space--large 0;
            padding: 0 $space;

            //
            // ---------------------------------------------------------------------------------------------------------
            @include phablet() {
                padding: 0 $space--large;
            }

            //
            // ---------------------------------------------------------------------------------------------------------
            @include desktop() {
                padding: 0 $space--xx-large;
            }

            // list item
            // ---------------------------------------------------------------------------------------------------------
            li {
                @include set-font-size(12px);
                @include semibold-text();
                display: inline-block;
                position: relative;
                list-style-type: none;
                margin: 0 0 calc(#{$space} + #{$space--xx-small});
                padding: $space--small 0 0 calc(#{$space--large} + #{$space});
                min-height: $space--large;
                color: $text-medium;

                //
                // -----------------------------------------------------------------------------------------------------
                @include desktop() {
                    @include set-font-size(16px);
                    margin: 0 0 $space--large;
                    padding: 0 0 0 $space--x-large;
                    min-height: calc(#{$space--large} + #{$space--small});
                }

                // paragraph
                // -----------------------------------------------------------------------------------------------------
                p {
                    @include set-font-size(14px);
                    @include regular-text();
                    color: $text-medium;
                    line-height: 1.5;
                }

                // number (counter)
                // -----------------------------------------------------------------------------------------------------
                &:before {
                    @include bg($primary);
                    @include set-font-size(16px);
                    content: counters(item, " ");
                    counter-increment: item;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: $border-radius;
                    width: $space--large;
                    height: $space--large;
                    text-align: center;
                    color: $light;
                    line-height: $space--large;

                    //
                    // -------------------------------------------------------------------------------------------------
                    @include desktop() {
                        width: calc(#{$space--large} + #{$space--small});
                        height: calc(#{$space--large} + #{$space--small});
                        line-height: calc(#{$space--large} + #{$space--small});
                    }
                }

                // list item
                // -----------------------------------------------------------------------------------------------------
                li {
                    padding: 0 0 0 calc(#{$space--large} + #{$space});
                }
            }
        }
    }

    // variant carousel
    // -----------------------------------------------------------------------------------------------------------------
    &--carousel {

        // headers
        // -------------------------------------------------------------------------------------------------------------
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $text-dark;

            //
            // ---------------------------------------------------------------------------------------------------------
            @include large() {
                color: inherit;
            }
        }

        // paragraph
        // -------------------------------------------------------------------------------------------------------------
        p {
            color: $text-medium;

            //
            // ---------------------------------------------------------------------------------------------------------
            @include large() {
                color: inherit;
            }
        }
    }

    // variant marketing banner
    // -----------------------------------------------------------------------------------------------------------------
    &--marketing-banner {
        padding: 0 $space;
        text-align: center;

        // header 2
        // -------------------------------------------------------------------------------------------------------------
        h2 {
            @include set-font-size(80px);
            line-height: 1;
        }

        // header 3
        // -------------------------------------------------------------------------------------------------------------
        h3 {
            @include set-font-size(30px);
        }

        // header 4
        // -------------------------------------------------------------------------------------------------------------
        h4 {
            @include set-font-size(12px);
            @include regular-text();
        }

        // paragraph
        // -------------------------------------------------------------------------------------------------------------
        p {
            @include regular-text();
            @include set-font-size(11px);
            opacity: .8;
            line-height: 1.4;
        }

        // button
        // -------------------------------------------------------------------------------------------------------------
        .button {
            display: block;
            margin: $space auto;

            // link [edge hack]
            // ---------------------------------------------------------------------------------------------------------
            _:-ms-lang(x), a {
                text-decoration: none;
            }

            //
            // ---------------------------------------------------------------------------------------------------------
            @include phablet() {
                margin: $space--large auto;
                max-width: $element-default-width;
            }
        }

        // link
        // -------------------------------------------------------------------------------------------------------------
        .link {
            @include bold-text();
            display: inline-block;
            margin: $space--large auto 0;
            text-decoration: none;

            // state hover, focus
            // ---------------------------------------------------------------------------------------------------------
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}
