// radio
// =====================================================================================================================
$_radio-lighten: 35%;

$_radio-size: 18px;
$_radio-space: ($_radio-size / 3.6);
$_radio-border-size: ($_radio-size / 9);

$radio-border: var(--magic-radio-border, var(--magic-field-border, lighten($_medium, $_radio-lighten)));
$radio-hover-border: var(--magic-radio-hover-border, var(--magic-field-border, $_primary));
$radio-focus-border: var(--magic-radio-focus-border, var(--magic-field-border, $_primary));
$radio-checked-border: var(--magic-radio-checked-border, var(--magic-field-border, $_primary));
$radio-background: var(--magic-radio-background, $_primary);
$radio-disabled-border: var(--magic-radio-disabled-border, var(--magic-field-border, lighten($_medium, $_radio-lighten)));
$radio-disabled-label: var(--magic-radio-disabled-label, lighten($_medium, $_radio-lighten));
$radio-disabled-background: var(--magic-radio-disabled-background, lighten($_medium, $_radio-lighten));

$radio-size: var(--magic-radio-size, $_radio-size);
$radio-space: var(--magic-radio-space, $_radio-space);
$radio-border-size: var(--magic-radio-border-size, $_radio-border-size);

// radio
// ---------------------------------------------------------------------------------------------------------------------
.radio {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0 0 $space--xx-small;
    padding: 0 0 0 calc(#{$radio-size} + #{$space});
    max-width: 100%;

    // spacer
    // -----------------------------------------------------------------------------------------------------------------
    &:after {
        content: "\A";
        display: block;
        width: 1000px;
    }

    // variant inline
    // -----------------------------------------------------------------------------------------------------------------
    &--inline {

        // spacer
        // -------------------------------------------------------------------------------------------------------------
        &:after {
            width: auto;
        }
    }
}

// input
// ---------------------------------------------------------------------------------------------------------------------
.input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: $radio-size;
    height: $radio-size;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

// label
// ---------------------------------------------------------------------------------------------------------------------
.label {
    @include set-font-size(14px);
    padding: 0;
    min-height: $radio-size;
    line-height: $radio-size;
    cursor: pointer;

    // background, circle
    // -----------------------------------------------------------------------------------------------------------------
    &:before,
    &:after {
        content: " ";
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
    }

    // background
    // -----------------------------------------------------------------------------------------------------------------
    &:before {
        top: 0;
        left: 0;
        width: $radio-size;
        height: $radio-size;
        border: $radio-border-size solid $radio-border;
        transition: border-color $duration ease;
        will-change: border-color;
    }

    // circle
    // -----------------------------------------------------------------------------------------------------------------
    &:after {
        top: $radio-space;
        left: $radio-space;
        width: calc(#{$radio-size} - (#{$radio-space} + #{$radio-border-size} * 2.5));
        height: calc(#{$radio-size} - (#{$radio-space} + #{$radio-border-size} * 2.5));
        background-color: $radio-background;
        opacity: 0;
        transition: opacity $duration ease;
        will-change: opacity;
    }

    // variant bold
    // -----------------------------------------------------------------------------------------------------------------
    &--bold {
        @include bold-text();
    }
}

// state hover (background)
// ---------------------------------------------------------------------------------------------------------------------
.input:hover ~ .label:before {
    border-color: $radio-hover-border;
}

// state focus (background)
// ---------------------------------------------------------------------------------------------------------------------
.input:focus ~ .label:before {
    border-color: $radio-focus-border;
}

// state checked (background)
// ---------------------------------------------------------------------------------------------------------------------
.input:checked + .label:before {
    border-color: $radio-checked-border;
}

// state checked (icon)
// ---------------------------------------------------------------------------------------------------------------------
.input:checked + .label:after {
    opacity: 1;
}

// state disabled (input)
// ---------------------------------------------------------------------------------------------------------------------
.input:disabled {
    cursor: default;
}

// state disabled (label)
// ---------------------------------------------------------------------------------------------------------------------
.input:disabled + .label {
    color: $radio-disabled-label;
    cursor: default;
}

// state disabled (background)
// ---------------------------------------------------------------------------------------------------------------------
.input:disabled + .label:before {
    border-color: $radio-disabled-border;
}

// state disabled (circle)
// ---------------------------------------------------------------------------------------------------------------------
.input:disabled + .label:after {
    background-color: $radio-disabled-background;
    opacity: 1;
}
