// form field
// =====================================================================================================================

:host {
    outline: none;
}

// form field
// ---------------------------------------------------------------------------------------------------------------------
.form-field {
    @include bg();
    @include grid-base();
    position: relative;
    margin: 0 0 $space;

    // variant no margin
    // -----------------------------------------------------------------------------------------------------------------
    &--no-margin {
        margin: 0;
    }

    // variant centered
    // -----------------------------------------------------------------------------------------------------------------
    &--centered {
        justify-content: center;
    }
}

// form field [edge hack]
// ---------------------------------------------------------------------------------------------------------------------
_:-ms-lang(x), .form-field {

    // field
    // -----------------------------------------------------------------------------------------------------------------
    .field {
        width: 100%;
    }
}

// field, slotted (fields different than input)
// ---------------------------------------------------------------------------------------------------------------------
.field,
::slotted(*) {
    width: 100%;

    // state has success
    // -----------------------------------------------------------------------------------------------------------------
    .has-success & {
        --magic-field-border: #{$success};
    }

    // state has alert
    // -----------------------------------------------------------------------------------------------------------------
    .has-alert & {
        --magic-field-border: #{$alert};
    }

    // state has error
    // -----------------------------------------------------------------------------------------------------------------
    .has-error & {
        --magic-field-border: #{$error};
    }
}

// message
// ---------------------------------------------------------------------------------------------------------------------
.message {
    $_form-field-message-size: 22px;

    $form-field-message-size: var(--magic-form-field-message-size, $_form-field-message-size);

    @include bg($background-contrast);
    @include set-font-size(12px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $space--small calc(#{$space} - #{$space--x-small});
    border-radius: $border-radius;
    box-shadow: $shadow-2;
    width: 100%;
    max-height: calc(#{$form-field-message-size} * 3);
    color: $text-primary;
    opacity: 1;
    will-change: padding-top, padding-bottom, max-height, opacity;
    transition: padding-top $duration ease, padding-bottom $duration ease, max-height $duration ease, opacity $duration calc(#{$delay} / 2) ease;
    overflow: hidden;

    // state has success, has success & focus, has-alert, has-alert & focus
    // -----------------------------------------------------------------------------------------------------------------
    .has-success &,
    .has-success.has-focus &,
    .has-alert &,
    .has-alert.has-focus & {
        padding-top: 0;
        padding-bottom: 0;
        max-height: 0;
        opacity: 0;
        color: $light;
    }

    // state has error
    // -----------------------------------------------------------------------------------------------------------------
    .has-error & {
        color: $text_error;

        // icon
        // -------------------------------------------------------------------------------------------------------------
        .icon {
            display: block;
        }
    }

    // fade in grow [active]
    // -----------------------------------------------------------------------------------------------------------------
    @include transition-active(fade-in-grow) {
        transition: padding-top $duration ease, padding-bottom $duration ease, max-height $duration ease, opacity calc(#{$duration} / 2) 0s ease;
    }

    // fade in grow [to]
    // -----------------------------------------------------------------------------------------------------------------
    @include transition-base(fade-in-grow) {
        padding-top: 0;
        padding-bottom: 0;
        max-height: 0;
        opacity: 0;
        color: $light;
    }
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    display: none;
    width: $space;
    height: $space;

    // state has success, has error
    // -----------------------------------------------------------------------------------------------------------------
    .has-success &,
    .has-error & {
        display: block;
        position: absolute;
        top: calc(#{$space--small} + #{$space--xx-small});
        right: $space--small;
        width: $icon-size;
        height: $icon-size;
        will-change: opacity;
        transition: opacity $duration 0s ease;
    }

    // state has success
    // -----------------------------------------------------------------------------------------------------------------
    .has-success & {
        color: $success;
    }

    // state has error
    // -----------------------------------------------------------------------------------------------------------------
    .has-error & {
        display: none;
        color: $error;
    }

    // state has success & has focus, has error & has focus
    // -----------------------------------------------------------------------------------------------------------------
    .has-success.has-focus &,
    .has-error.has-focus & {
        opacity: 0;
        transition: opacity 0s 0s ease;
    }

    // state has alert
    // -----------------------------------------------------------------------------------------------------------------
    .has-alert & {
        margin: 0 calc(#{$space} - #{$space--x-small}) 0 0;
        opacity: 1;
    }
}

// label
// ---------------------------------------------------------------------------------------------------------------------
.label {
    @include set-font-size(12px);
    margin: 0 0 $space--x-small;
    color: $text-lighter;
}
