// icon
// =====================================================================================================================
$_icon-badge-lighten: 25%;

$icon-badge-background: var(--magic-icon-badge-background, lighten($_secondary, $_icon-badge-lighten));
$icon-badge-color: var(--magic-icon-badge-color, $_secondary);

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    display: block;
    width: inherit;
    height: inherit;
    fill: currentColor;
    stroke: inherit;
    stroke-width: inherit;

    // variant badge
    // -----------------------------------------------------------------------------------------------------------------
    &--badge {
        margin: inherit;
        padding: $space;
        border-radius: 50%;
        box-shadow: $shadow-2;
        background: $icon-badge-background;
        color: $icon-badge-color;
    }
}

// path
// ---------------------------------------------------------------------------------------------------------------------
path {
    width: 100%;
    height: 100%;
}
