// accordion
// =====================================================================================================================

// accordion
// ---------------------------------------------------------------------------------------------------------------------
.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

// toggle
// ---------------------------------------------------------------------------------------------------------------------
.toggle {
    @include set-font-size(14px);
    @include semibold-text;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // variant wide
    // -----------------------------------------------------------------------------------------------------------------
    &--wide {
        justify-content: space-between;
        width: 100%;
    }
}

// content
// ---------------------------------------------------------------------------------------------------------------------
.content {
    width: 100%;
    max-height: $element-default-width;
    will-change: max-height;
    overflow: hidden;

    // variant no animation
    // -----------------------------------------------------------------------------------------------------------------
    &--no-animation {
        max-height: none;
    }

    // expand [active]
    // -----------------------------------------------------------------------------------------------------------------
    @include transition-active(expand) {
        transition: max-height $duration ease;
    }

    // expand [to]
    // -----------------------------------------------------------------------------------------------------------------
    @include transition-base(expand) {
        max-height: 0;
    }
}

// icon
// ---------------------------------------------------------------------------------------------------------------------
.icon {
    margin: 0 0 0 $space--xx-small;
    width: $icon-size;
    height: $icon-size;
}
