// progress bar
// =====================================================================================================================
$_progress-bar-size: 8px;
$_progress-bar-width: 0%;
$_progress-bar-track-background-trasparency: .1;

$_progress-bar-track-background: $_light;
$_progress-bar-filler-from: #08aeea;
$_progress-bar-filler-to: #2af598;
$_progress-bar-filler-shadow: #24e9a7;

$progress-bar-size: var(--magic-progress-bar-size, $_progress-bar-size);
$progress-bar-width: var(--magic-progress-bar-width, $_progress-bar-width);

$progress-bar-track-background-transparent: var(--magic-progress-bar-track-background-transparent, rgba($_progress-bar-track-background, $_progress-bar-track-background-trasparency));
$progress-bar-filler-from: var(--magic-progress-bar-filler-from, $_progress-bar-filler-from);
$progress-bar-filler-to: var(--magic-progress-bar-filler-to, $_progress-bar-filler-to);
$progress-bar-filler-shadow: var(--magic-progress-bar-filler-shadow, $_progress-bar-filler-shadow);

// progress bar
// ---------------------------------------------------------------------------------------------------------------------
.progress-bar {
    @include bg();
    position: relative;
    width: 100%;
    height: $progress-bar-size;
    z-index: 2;
}

// bar
// ---------------------------------------------------------------------------------------------------------------------
.bar {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: $progress-bar-size;
}

// track
// ---------------------------------------------------------------------------------------------------------------------
.track {
    @include bg($progress-bar-track-background-transparent);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $progress-bar-size;
    width: 100%;
    height: 100%;
}

// filler
// ---------------------------------------------------------------------------------------------------------------------
.filler {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $progress-bar-size;
    width: $progress-bar-width;
    max-width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to right, $progress-bar-filler-from 0%, $progress-bar-filler-to 50%, $progress-bar-filler-from 100%);
    background-size: 200% auto;
    background-position: 0 0;
    box-shadow: 0 0 0 0 $progress-bar-filler-shadow;
    transition: width $duration ease-in-out, box-shadow $duration ease-in-out;
    will-change: width, box-shadow;
    overflow: hidden;

    // state is complete
    // -----------------------------------------------------------------------------------------------------------------
    .is-complete & {
        width: 100%;
        box-shadow: 0 0 12px 0 $progress-bar-filler-shadow;
        animation: gradient-animation calc(#{$duration} * 5) $delay ease-in-out 2 forwards, shadow-animation calc(#{$duration} * 3) $delay ease-in-out 2 forwards;
    }

    // gradient animation
    // -----------------------------------------------------------------------------------------------------------------
    @keyframes gradient-animation {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 200% 0;
        }
    }

    // shadow animation
    // -----------------------------------------------------------------------------------------------------------------
    @keyframes shadow-animation {
        0% {
            box-shadow: 0 0 8px 0 $progress-bar-filler-shadow;
        }
        100% {
            box-shadow: 0 0 12px 0 $progress-bar-filler-shadow;
        }
    }
}
